<!DOCTYPE html>
<link rel="stylesheet" href="../../../vendor/assets/stylesheets">
<html>
<body>

<style type="text/css">
body {
  background: rgb(28,33,40);
}
h1 {
  color: #e9e9e9;
  text-align: center;
  margin-bottom: 50px;
}
h1, .circle-p, .link {
  font-family: "Montserrat-Regular";
}
a, p {
  text-align: center;
  color: #9acd32;
}
a:hover {
  color: white;
}
.center {
  position: absolute;
  margin: auto;
  top: 30%;
  right: 0;
  left: 0;
  bottom: 0;
}
.circle {
  position: relative;
  display: block;
  text-align: center;
  font-size: 18px; 
  float:left; 
  margin:20px; 
  width:250px; 
  height:250px;
  border-radius: 50%;
  background: #9acd32;
  background: rgb(142,190,4);
  color: #fff;
  transition: all 0.2s ease-out;
}
.circle-p {
  position: relative;
  top: 40%;
  color: #e9e9e9;
}

</style>

</body>
</html>